*{
    margin: auto;
    padding: 0;
    font-family: Roboto, arial;
    box-sizing: border-box;
    max-width: 1000px;
    
}
body {
    background-color: cadetblue;
    background: url(7972.jpg);
    background-size: 2300px;
    
    
}


#wrapper {
    max-width: 1000px;
    margin: auto auto;
    
    background: url(7972.jpg);
    width: 100%;
    
    
    
    
    
}
header img {
    width: 100%;
    display: block;
    
}
nav {
    overflow: hidden;
}

nav a{
    display: block;
    width: 25%;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 30px;
    transition: all 1s ease;
    
}

@media (max-width:800px) {
    nav a {
        width: 50%;
        
    }
}
nav a:hover {
    
    background-color: crimson;
    cursor: pointer;
}
.active {
    background-color: crimson;
}
article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
    
}

img.left {
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 30%;
    border-radius: 50%;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
    padding: 15px 0;
}

iframe {
    width: 100%;
    
}

footer {
    height: 40px;
    background-color: dodgerblue;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 0px;
    
}